.btn {
  all: unset;
  border-radius: 4px;
  border: 2px solid #540fbb;
  background-color: #6e20e4;
  padding: 0.8rem 1.6rem;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  color: #fafafa;
  cursor: pointer;

  &:hover {
    border-color: #7d2cf6;
    background-color: #43118e;
  }
}
